.item-card {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.item-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  padding: 10px;
}

.item-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.item-trash {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.strike-through {
  text-decoration: line-through;
}